.header__logo {
    max-width: 176px;
    margin: 0;
    padding: 0;
    height: auto;
}

@media screen and (max-width: 500px) {
    .header__logo {
        max-width: 142px;
        height: 42px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
        height: 42px;
    }
}